/*-- scss:defaults --*/

// colours
$body-color: #151C28;
$link-color: #3498db;
$body-bg: #F2F4F8;

// fonts
$font-family-sans-serif: 'Nunito', Arial, sans-serif !default;
$heading-font: 'Oswald', Arial, sans-serif !default;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

h1, h2 {
  font-family: $heading-font;
}

h2 {
  margin-top: 0rem;
  border-style: none;
  margin-bottom: -10px;
}

#toc-title {
  text-align: left !important;
}

#dropdown {
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  padding-bottom: 2px;
  width: 100%;
}

.footer {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 0px;
  color: $body-color;
  font-size: 0.8rem;
}

.footer a {
  text-decoration: none !important;
}

.footer p {
  margin-bottom: 0px !important;
}

.icon-link {
    background-color: $link-color;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px !important;
    border-color: $link-color !important;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    max-width: 100px;
    max-height: 30px;
}

.icon-link:hover {
    background-color: #FFFFFF;
    color: $link-color;
}

.card {
  --bs-card-border-color: none !important;
  --bs-card-spacer-y: 0px !important;
}

.bslib-card .card-body {
  overflow-y: clip !important;
}

.girafe {
  width: 100% !important;
}

.girafe_container_std {
  width: 100% !important;
  height: 100%;
  padding-top: 10px !important;
  text-align: left !important;
}

.ggiraph-svg {
  width: unset !important;
  max-width: 100% !important;
}

.ggiraph-fullscreen-content {
  background-color: $body-bg !important;
}

.callout {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

div.callout-note.callout{
  border-left-color: $link-color !important;
}

.value-box-value {
  font-size: clamp(.1em, 11cqw, 4em) !important;
}

.selected {
  z-index: 999 !important;
}

.Reactable {
  background-color: $body-bg !important;
}

.notes-modal {
  border: none;
  border-radius: 8px;
  padding: 20px;
  padding-top: 35px;
  padding-right: 35px;
  max-width: 500px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  background-color: #e30c37;
  color: white;
}

.link-buttons.html-fill-item.html-fill-container {
  flex-direction: row;
  width: fit-content;
}
